{% extends 'DeployerWebBundle::layout.html.twig' %}

{% block title %}Queue{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h1>Queue <small>All queued deploys</small></h1>
        </div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>Project</th>
                <th>Branch</th>
                <th>Added</th>
            </tr>
            </thead>
            <tbody>
            {% for item in queue %}
                <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.project }}</td>
                    <td>{{ item.branch }}</td>
                    <td>{{ item.createdAt|date }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
