<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dries De Peuter">

    <title>Deployer - {% block title %}Home{% endblock %}</title>

    {% block head %}
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css" />
        <link rel="stylesheet" href="{{ asset('bundles/deployerweb/styles/main.css') }}" />
    {% endblock %}
</head>

<body>
{% block body %}
    <div class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('deployer_web_index') }}">Deployer</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li{% if app.request.attributes.get('_route') == 'deployer_web_index' %} class="active"{% endif %}><a href="{{ path('deployer_web_index') }}">Home</a></li>
                    <li{% if app.request.attributes.get('_route') == 'deployer_web_queue' %} class="active"{% endif %}><a href="{{ path('deployer_web_queue') }}">Queue</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        {% block content %}
            Welcome!
        {% endblock %}
    </div>
{% endblock %}

{% block body_bottom %}
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.0.1/js/bootstrap.min.js"></script>
{% endblock %}
</body>
</html>
