{% extends 'DeployerBundle::layout.html.twig' %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-8">
            <p class="lead">TODO: Write an intro text</p>

            <h3>Usage</h3>
            <p>TODO: Write usage description</p>
        </div>
        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Next deploy
                </div>
                <table class="table">
                    <tr>
                        <th>repo</th>
                        <td>{{ firstQueue.project }}</td>
                    </tr>
                    <tr>
                        <th>branch</th>
                        <td>{{ firstQueue.branch }}</td>
                    </tr>
                </table>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    10 latest deploys
                </div>
                <table class="table">
                    <tr>
                        <th>date</th>
                        <th>repo</th>
                        <th>branch</th>
                    </tr>
                    <tr>
                        <td>test</td>
                        <td>test</td>
                        <td>test</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
